@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.boton {
  background-color: #000;
  color: rgb(255, 255, 255);
  border-radius: 100px;
  width: fit-content;
}
.boton:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: #ff5900;
  color: #000;
}

.botonCoder {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #000;
  font-weight: bold;
}

.pruebaBoton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px 30px;
  background: #ff5900;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pruebaBoton a {
  position: relative;
  z-index: 2;
  transition: 0.3s ease all;
}

.pruebaBoton::after {
  content: "";
  width: 100%;
  height: 300px;
  background: #eae0d5;
  position: absolute;
  z-index: 1;
  top: -300px;
  left: 0;
  transition: 0.4s ease-in-out all;
  border-radius: 0px 0px 200px 200px;
  color: rgb(255, 255, 255);
}

.pruebaBoton:hover::after {
  top: 0;
  color: rgb(255, 255, 255);
}

.pruebaBoton a:hover {
  transform: translateY(-3px);
}

html {
  font-size: 62.5%; /*1 rem = 10px*/
  line-height: 3rem; /* interlineado*/
}

body {
  font-size: 1.6rem;
  background-color: #ffffff;
}

.bg-pale {
  background-color: #000000;
}

.descBoden {
  background-color: #000000;
  width: 90%;
  padding: 3rem;
  margin: 3rem;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  text-align: center;
  color: rgb(255, 255, 255);
}

.mainError {
  background-color: #ffffff;
}

.destaque {
  color: #ff5900;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

nav ul li a {
  color: rgb(255, 255, 255);
}
nav ul li a:hover {
  color: #ff5900;
  text-decoration: underline;
  text-decoration-color: #ff5900;
  text-decoration-thickness: 5px;
}

.proceso {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

@media only screen and (min-width: 992px) {
  .proceso {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) {
  .tapa:hover {
    transform: translateY(-20px);
  }
}
@media only screen and (min-width: 1200px) {
  .gridIndex {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "horda balada viento cielo coronel salvatierra uruguaya rio";
    justify-items: center;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  /* GRID AREAS DEL INDEX */
  .tapaHorda {
    grid-area: horda;
  }
  .tapaBalada {
    grid-area: balada;
  }
  .tapaViento {
    grid-area: viento;
  }
  .tapaCielo {
    grid-area: cielo;
  }
  .tapaCoronel {
    grid-area: coronel;
  }
  .tapaSalvatierra {
    grid-area: salvatierra;
  }
  .tapaUruguaya {
    grid-area: uruguaya;
  }
  .tapaRio {
    grid-area: rio;
  }
}
.mainSuscripciones {
  display: flex;
  flex-direction: column;
}

.contenedorSuscripciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.boxSuscripcion {
  border: solid;
  background-color: #ffffff;
  height: fit-content;
  width: 30%;
}

.lomos {
  width: 80%;
  padding-top: 2rem;
}

@media only screen and (min-width: 1200px) {
  .mainSuscripciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .contenedorSuscripciones {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .boxSuscripcion:hover {
    transform: scale(1.1);
  }
}
.divLibros {
  padding: 1rem;
  line-height: 2rem;
}

.titulo {
  padding: 1rem;
}

.resumen {
  line-height: 25px;
}

.underTitulo {
  text-decoration: underline;
  text-decoration-color: #ff5900;
  text-decoration-thickness: 2px;
}

.mainCLub {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionClub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sectionClub img {
  padding: 2rem;
  padding-bottom: 0.5rem;
}

.masOpiniones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opiniones {
  background-color: #000000;
  margin: 1rem;
  padding: 1rem;
  color: rgb(255, 255, 255);
}

/* GRID CLUB */
.tuOpinion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 2 fr 1fr;
  grid-template-areas: "nombre" "name" "tituloOp" "opinion" "enviar";
  grid-gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.nombre {
  grid-area: nombre;
}

#name {
  grid-area: name;
}

.tituloOpinion {
  grid-area: tituloOp;
}

#opinion {
  grid-area: opinion;
}

.enviar {
  grid-area: enviar;
}

@media only screen and (min-width: 768px) {
  .sectionClub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1200px) {
  .tuOpinion {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }
  .masOpiniones {
    padding-bottom: 2rem;
  }
  .opiniones {
    width: 70%;
  }
  .opiniones:hover {
    transform: scale(1.2);
  }
}
.mainConsultas, .pregFrecuentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pregFrecuentes {
  padding: 1rem;
}

.pregunta {
  background-color: #000000;
  margin: 1rem;
  padding: 1rem;
}

.preForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.preForm .descBoden {
  width: 100%;
  text-align: center;
}

.accordion-button {
  font-size: inherit;
}

.accordion-button:not(.collapsed) {
  color: inherit;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

.accordion-button:focus {
  box-shadow: inherit;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #000000;
  color: rgb(255, 255, 255);
}

footer div ul li {
  display: inline-block;
}

.redes {
  height: 3rem;
  width: 3rem;
}

.misDatos {
  font-size: 1.4rem;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
