.divLibros {
  padding: 1rem;
  line-height: 2rem;
}

.titulo {
  padding: 1rem;
}

.resumen {
  line-height: 25px;
}

.underTitulo {
  text-decoration: underline;
  text-decoration-color: $third-color;
  text-decoration-thickness: 2px;
}
