html{
    font-size: 62.5%; /*1 rem = 10px*/
    line-height: 3rem; /* interlineado*/
}

body{
    font-size: 1.6rem;
    background-color: $bg-color;
}

.bg-pale{
    background-color: $mainColor;
}

.descBoden{
    background-color: $mainColor;
    width: 90%;
    padding: 1rem;
    margin: 1rem;
}

.intro{
    @include d-flex(center, center, column);
    width: $w-100;
    height: fit-content;
    background-color: $bg-color;
    text-align: center;
}

.boton{
    background-color: $mainColor;
    width: 90%;
    &:hover{
        transform: scale(1.1);
        font-weight: bold;
    }
    width: fit-content;
}

.botonCoder{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: inherit;
    &:hover{
        color: $black;
        font-weight: bold;
        }

}
