html{
    font-size: 62.5%; /*1 rem = 10px*/
    line-height: 3rem; /* interlineado*/
}

body{
    font-size: 1.6rem;
    background-color: $bg-color;
}

.bg-pale{
    background-color: $mainColor;
}

.descBoden{
    background-color: $mainColor;
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border-color: $black;
    border-style: solid;
}

.intro{
    @include d-flex(center, center, column);
    width: $w-100;
    height: fit-content;
    background-color: $bg-color;
    text-align: center;
}